<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - 25 de mayo</title>
    <link rel="shortcut icon" href="/img/torneo-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/torneo_en_juego.css" >
</head>
<body>
    <header>
        <h1>Torneos</h1>
    </header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="./reserva.html">Reservas</a></li>
                <li><a href="./torneos.html">Torneos</a></li>
                <li><a href="./login.html">Iniciar sesion</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
        </nav>
    <main>
        <h1>Torneos en juego</h1>
        <div class="link_torneo_en_juego"><a href="./torneo_en_juego_padel.html">Padel</a></div>
        <div class="link_torneo_en_juego"><a href="./torneo_en_juego_futbol.html">Fútbol</a></div>
        <div class="div_img_medianas">
            <div class ="div_img_torneo">
                <img src="../img/Tenis.jpg" alt="tenis" class="img_medianas" id="imgtenis"></a>
            </div>
        <p class="textsport">Tenis</p>
        <div>
            <table class="tabla_en_juego_tenis">
                <thead>
                    <tr>
                        <th>8vos de final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan Colotto</td>
                        <td>7</td>
                        <td>2</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                        
                    </tr>
                    <tr>
                        <td>Fabián Sosa</td>
                        <td>6</td>
                        <td>6</td>
                        <td>3</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Nicolás Luro</td>
                        <td>1</td>
                        <td>6</td>
                        <td>7</td>
                        <td style="color: yellow;">Ganador</td>
                        
                    </tr>
                    <tr>
                        <td>Martín Greco</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Mariano Díaz</td>
                        <td>0</td>
                        <td>6</td>
                        <td>2</td>
                        
                        
                    </tr>
                    <tr>
                        <td>Juan Vidal</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Lorenzo Color</td>
                        <td>7</td>
                        <td>1</td>
                        <td>6</td>
                        
                        
                    </tr>
                    <tr>
                        <td>Agustín Molina</td>
                        <td>6</td>
                        <td>6</td>
                        <td>7</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Luca Sánchez</td>
                        <td>7</td>
                        <td>5</td>
                        <td>3</td>
                        
                        
                    </tr>
                    <tr>
                        <td>Nicolás Donda</td>
                        <td>6</td>
                        <td>7</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Ezequiel Corba</td>
                        <td>7</td>
                        <td>6</td>
                        <td>7</td>
                        <td style="color: yellow;">Ganador</td>
                        
                    </tr>
                    <tr>
                        <td>Federico Scianna</td>
                        <td>6</td>
                        <td>7</td>
                        <td>6</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Alex Díaz</td>
                        <td>0</td>
                        <td>6</td>
                        <td>2</td>
                        
                        
                    </tr>
                    <tr>
                        <td>Adriano Leon</td>
                        <td>6</td>
                        <td>4</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Emiliano Deluc</td>
                        <td>7</td>
                        <td>1</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                        
                    </tr>
                    <tr>
                        <td>Kevin Medina</td>
                        <td>6</td>
                        <td>6</td>
                        <td>4</td>
                        
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>Próximos encuentros</tr>
                    <tr>
                        <th>4tos de final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan Colotto vs Nicolás Luro</td>
                        <td>Sáb 4/11, 11hs</td>
                    </tr>
                    <tr>
                        <td>Juan Vidal vs Agustín Molina</td>
                        <td>Sáb 4/11, 16hs</td>
                    </tr>
                    <tr>
                        <td>Nicolás Donda vs Ezequiel Corba</td>
                        <td>Dom 5/11, 11hs</td>
                    </tr>
                    <tr>
                        <td>Adriano Leon vs Emiliano Deluc</td>
                        <td>Dom 5/11, 16hs</td>
                    </tr>
                </tbody>
            </table>
        </div>    
        </div>
    </main>
</body>

<footer>
    <p style="display: block;">&copy; 2023 Planeta Deportes</p>
</footer>

</html>