<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneos - 25 de mayo</title>
    <link rel="shortcut icon" href="/img/torneo-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/torneo_en_juego.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Torneos</h1>
    </header>
        <!-- <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="./reserva.html">Reservas</a></li>
                <li><a href="./torneos.html">Torneos</a></li>
                <li><a href="./login.html">Iniciar sesion</a></li>
                <li><a href="#">Registrarse</a></li>
            </ul>
        </nav> -->
    <main>
        <h1>Torneos en juego</h1>
        <div class="link_torneo_en_juego"><a href="./torneo_en_juego_tenis.html">Tenis</a></div>
        <div class="link_torneo_en_juego"><a href="./torneo_en_juego_futbol.html">Fútbol</a></div>
        <div class="div_img_medianas">
            <div class ="div_img_torneo">
                <img src="../img/Padel.jpg" alt="padel" class="img_medianas" id="imgpadel"></a>
            </div>
        <p class="textsport">Padel</p>
        <div>
            <table class="tabla_en_juego_padel">
                <thead>
                    <tr>
                        <th>8vos de final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ruíz</td>
                        <td>Sosa</td>
                        <td>6</td>
                        <td>6</td>
                        <td>-</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <tr>
                        <td>Fernández</td>
                        <td>Silva</td>
                        <td>1</td>
                        <td>2</td>
                        <td>-</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Colotto</td>
                        <td>Gómez</td>
                        <td>7</td>
                        <td>2</td>
                        <td>4</td>
                        
                    </tr>
                    <tr>
                        <td>Conti</td>
                        <td>Reyes</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Iglesias</td>
                        <td>Ortega</td>
                        <td>0</td>
                        <td>6</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <tr>
                        <td>Ríos</td>
                        <td>Rojas</td>
                        <td>6</td>
                        <td>4</td>
                        <td>4</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Vargas</td>
                        <td>Mendoza</td>
                        <td>7</td>
                        <td>7</td>
                        <td>-</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <tr>
                        <td>Zapata</td>
                        <td>Lagos</td>
                        <td>6</td>
                        <td>6</td>
                        <td>-</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Peral</td>
                        <td>Rossi</td>
                        <td>1</td>
                        <td>0</td>
                        <td>-</td>
                        
                    </tr>
                    <tr>
                        <td>Saval</td>
                        <td>Díaz</td>
                        <td>6</td>
                        <td>6</td>
                        <td>-</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Domínguez</td>
                        <td>Barrios</td>
                        <td>6</td>
                        <td>6</td>
                        <td>-</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <tr>
                        <td>Ortíz</td>
                        <td>Cabrera</td>
                        <td>3</td>
                        <td>4</td>
                        <td>-</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Santos</td>
                        <td>Vázquez</td>
                        <td>7</td>
                        <td>1</td>
                        <td>4</td>
                        
                    </tr>
                    <tr>
                        <td>Vilches</td>
                        <td>Franco</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <td style="background-color: white;"></td>
                    <tr>
                        <td>Lasso</td>
                        <td>Benitez</td>
                        <td>6</td>
                        <td>6</td>
                        <td>-</td>
                        <td style="color: yellow;">Ganador</td>
                    </tr>
                    <tr>
                        <td>Corsa</td>
                        <td>Domínguez</td>
                        <td>4</td>
                        <td>2</td>
                        <td>-</td>
                        
                    </tr>
                    <td style="background-color: white;"></td>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>Próximos encuentros</tr>
                    <tr>
                        <th>4tos de final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ruíz-Sosa vs Conti-Reyes</td>
                        <td>Sáb 11/11, 11hs</td>
                    </tr>
                    <tr>
                        <td>Iglesias-Ortega vs Vargas-Mendoza</td>
                        <td>Sáb 11/11, 16hs</td>
                    </tr>
                    <tr>
                        <td>Saval-Díaz vs Domínguez-Barrios</td>
                        <td>Dom 12/11, 11hs</td>
                    </tr>
                    <tr>
                        <td>Vilches-Franco vs Lasso-Benítez</td>
                        <td>Dom 12/11, 16hs</td>
                    </tr>
                </tbody>
            </table>
        </div>    
        </div>
    </main>
</body>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 Planeta Deportes
            <span class="social-icons">
                <!-- <a href="https://www.facebook.com/Planeta_Deportes" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/Planeta_Deportes" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/Planeta_Deportes" target="_blank"><i class="fab fa-instagram"></i></a> -->
                <a href="https://github.com/GuidoMaxier/FRONTEND" target="_blank"><i class="fab fa-github"></i></a>
            </span>
        </p>
    </div>
</footer>
</html>