* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    
}

.formulario {
    width: 300px; /* Ajusta el ancho del formulario según tus preferencias */
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
    
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgb(252, 252, 252);
}

.formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 0.9em; 
}

.formulario__input {
    padding: 10px; /* Ajusta el padding de los campos de entrada según tus preferencias */
    background: rgba(243, 238, 238, 0.1);
    border: 1px solid rgba(243, 241, 241, 0.3);
    margin-bottom: 20px; /* Ajusta el espacio entre los campos de entrada */
}

.formulario__input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.7);
}

.formulario__input:focus + .formulario__label{
    margin-top: -75px;
}

.formulario__input:focus + .formulario__text{
    margin-top: -115px;
}

.formulario__text,
.formulario__label {
    padding-left: 5px; /* Ajusta el padding de la etiqueta según tus preferencias */
    position: absolute;
    margin-top: -45px; /* Ajusta la posición de la etiqueta */
    z-index: -20;
    color: rgba(245, 244, 244, 0.5);
    transition: all 0.2s;
}

.formulario__text {
    padding-left: 5px; /* Ajusta el padding de la etiqueta según tus preferencias */
    position: absolute;
    margin-top: -90px; /* Ajusta la posición de la etiqueta */
    z-index: -20;
    color: rgba(255, 251, 251, 0.5);
    transition: all 0.2s;
}

.formulario__submit {
    background: rgba(250, 247, 247, 0.7);
    color: white;
    padding: 8px 16px; /* Ajusta el tamaño del botón según tus preferencias */
    cursor: pointer;
    border: none;
}

.fijar {
    margin-top: -75px;
}

.error {
    background-color: #464444d7; 
    color: red;
    font-size: small;
    bottom: -100px;
}

.mensaje-enviado{
    color: white;
    font-size:medium;

}